body {
    overflow: hidden;
    height: 100%;
}

.MainContent {
    display: flex;
    text-align: center;
    padding-top: 20px;
    margin-top: 20px;
    left: 50%;
}

#coins {
    position: absolute;
    top: 100px;
    left: 18px;
    font-size: x-large;
    font-family: cursive;
    font-weight: bolder;
    margin-top: 10px;
}

#gems {
    position: absolute;
    top: 130px;
    left: 18px;
    font-size: x-large;
    font-family: cursive;
    font-weight: bolder;
    margin-top: 10px;
}

#shovelImg {
    position: absolute;
    left: 35%;
    top: 360px;
    transform: scale(0.8);
}

#drillImg {
    position: absolute;
    width: 256px;
    top: 60%;
    left: 40%;
    display: none;
}

#excavatorImg {
    position: absolute;
    width: 256px;
    top: 55%;
    left: 40%;
    display: none;
}

#miningPhasorImg {
    position: absolute;
    width: 256px;
    top: 60%;
    left: 40%;
    display: none;
}

#toolStatusDiv {
    position: absolute;
    text-align: center;
    left: 46%;
    top: 500px;
}

#toolName {
    position: absolute;
    font-size: 32px;
    left: 46%;
    top: 590px;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#toolStatus {
    position: relative;
    font-size: 28px;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(172, 168, 168)
}

.upgrades {
    position: absolute;
    display: flex;
    background-color: gray;
    border-radius: 10px;
    width: 18%;
    top: 10px;
}

#upgradePower {
    position: absolute;
    display: flex;
    top: 10px;
    left: 250px;
    border-radius: 10px;
    background-color: rgb(86, 77, 77);
}

#pickaxeImg {
    width: 64px;
    margin: 10px;
    opacity: 0.5;
}

#cursorImg {
    width: 40px;
    margin: 10px;
    opacity: 0.5;
}

#upgradeToolImg {
    width: 60px;
    margin: 10px;
    opacity: 0.5;
}

#upgradeLuckImg {
    width: 60px;
    margin: 10px;
    opacity: 0.5;
}

#miningPowerTooltip {
    position: absolute;
    color: gainsboro;
    top: 40%;
    left: 20px;
    text-align: center;
    display: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#autoMiningTooltip {
    position: absolute;
    color: gainsboro;
    top: 40%;
    left: 20px;
    text-align: center;
    display: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#upgradeToolTooltip {
    position: absolute;
    color: gainsboro;
    top: 40%;
    left: 20px;
    text-align: center;
    display: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#luckTooltip {
    position: absolute;
    color: gainsboro;
    top: 40%;
    left: 20px;
    text-align: center;
    display: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#damageTooltip {
    position: absolute;
    top: 160px;
    margin: 10px;
}

#autoDamageTooltip {
    position: absolute;
    top: 190px;
    margin: 10px;
}

#rightArrowImg {
    position: absolute;
    display: flex;
    top: 10%;
    left: 60%;
}

#leftArrowImg {
    position: absolute;
    display: none;
    top: 10%;
    left: 32%;
}

#dirt {
    position: absolute;
    transform: scale(0.6);
    top: -100px;
    left: 34%;
    font-family: cursive;
    font-weight: bolder;
    font-size: 24px
}

#dirtImg:active {
    transform: scale(1.1);
}

#sand {
    position: absolute;
    transform: scale(0.45);
    top: -160px;
    left: 27%;
    font-family: cursive;
    font-weight: bolder;
    font-size: 32px;
    display: none;
}

#sandImg:active {
    transform: scale(1.1);
}


#limestone {
    position: absolute;
    transform: scale(0.9);
    top: 0px;
    left: 38%;
    font-family: cursive;
    font-weight: bolder;
    display: none;
}

#limestoneImg:active {
    transform: scale(1.05);
}

#coal {
    position: absolute;
    transform: scale(0.4);
    top: -200px;
    left: 22.6%;
    font-family: cursive;
    font-weight: bolder;
    display: none;
    font-size: 32px;
}

#coalImg:active {
    transform: scale(1.05);
}

#marble {
    position: absolute;
    transform: scale(0.4);
    top: -150px;
    left: 33%;
    font-family: cursive;
    font-weight: bolder;
    display: none;
    font-size: 32px;
}

#marbleImg:active {
    transform: scale(1.1);
}

#quartz {
    position: absolute;
    transform: scale(0.4);
    top: -150px;
    left: 31%;
    font-family: cursive;
    font-weight: bolder;
    display: none;
    font-size: 32px;
}

#quartzImg:active {
    transform: scale(1.1);
}
